<div class="search-div">
  <button mat-raised-button (click)="openDialog()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <p></p>
  <button mat-raised-button>
      <mat-icon>input </mat-icon> Page Number : <input type="text" class="inputstyle" [(ngModel)]="pagenumber">
  </button>
  <button mat-raised-button>
      <mat-icon>input </mat-icon> Page Size: <input class="inputstyle" type="text" [(ngModel)]="pagesize">
  </button>
  <button mat-raised-button (click)="getDataFromServer()">
      <mat-icon> autorenew</mat-icon> Fetch Data
  </button>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="normalizedName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Normalized Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.normalizedName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="coordinates">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Coordinates</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.coordinates}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address.country}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="resourceId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Resource Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.resourceId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header>version</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.version}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="function">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Function</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.function}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons disableOptionCentering ></mat-paginator>
</div>
