@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.imgarviem{
         height: 107px;
        width: 112px;

}