<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" class="imgarviem" src="./assets/img/arviem.png">
</div>
<h2>List of Locations </h2>
 
<arviem-location-list></arviem-location-list>
<router-outlet></router-outlet>
