 
<h1 mat-dialog-title>Add new location</h1>
<div mat-dialog-content class="search-div">
    <input matInput type="text" placeholder="name"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >
    <input matInput type="text" placeholder="normalizedName"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >
    <input matInput type="text" placeholder="latitudeInDegrees"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >
    <input matInput type="text" placeholder="longitudeInDegrees"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >
    <input matInput type="text" placeholder="country"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >
    <input matInput type="text" placeholder="function"  class="form-control" name="company-name" ngModel #nameField="ngModel" required >        
  </div>
  <div mat-dialog-actions>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <button mat-button   cdkFocusInitial><mat-icon>save_alt </mat-icon> Save new Location</button>
  </div>